@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

*{
    font-family: 'Happy Monkey', cursive;
}

body{
    width: 1100px;
    margin: auto;
}

.main_nav{
    text-align: left;
    height: auto;
    margin:auto;
}

.nav_li{
    border-bottom: solid black 6px;
    list-style: none;
}

.nav:a{
    text-decoration: none;
    margin: auto;
}